.div1{
    background-color: orange;
    text-align: center;
}
.div2{
   
    background-color: orange;
    text-align: center;
}
button{
    width: inherit;
}
.row{
    margin-top: 10px;
    margin-bottom: 10px;
}
#field{
    width: 200px;
    margin-top: 20px;
    margin-left: 400px;
}
#exp{
    width: 200px;
    margin-left: 400px;
}
.display-1{
    color: white;
}
body{
    background-color: orangered;
}
.h11{
    font-size: 92px;
}